/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightyellow;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
}

.board {
  height: 100px;
  width: 100px;
  background-color: orange;
  color: black;
  font-size: 80px;
  font-weight: bold;
 margin:0;
 padding:0;
}

button:hover,
#reset:hover {
  background-color: darkorange;
}



.container {
  margin: 60px auto;
}

h1, h2 {
  margin: 80px 0 0 0;
  text-align: center;
}

h2 {
  height: 50px;
}

#reset {
  display: block;
  margin: 20px auto;
  background-color: orange;
  width: 100px;
  height: 40px;
  font-weight: bold;
}



/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
